# Manually added
equilibria/*
test_vmec_to_gs2_geometry_interface
Literature
data/*
paperGrids/*
gs2grids/*
GS2/*/
GS2/gs2

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
