# Manually added
# equilibria/*
ConvergenceTests/*
toPaper
ConvergenceTestsTEM/*
CriticalGradient/*
test_vmec_to_gs2_geometry_interface
Literature
data/*
paperGrids/*
gs2grids/*
GS2/*/
GS2/gs2
ConvergenceTestsTEM/gammaPlots/*
ConvergenceTestsTEM/omegaPlots/*
ConvergenceTestsTEM/vmec2gs2
ConvergenceTestsTEM/__pycache__
ConvergenceTestsTEM/Figures/*
ConvergenceTests/gammaPlots/*
ConvergenceTests/omegaPlots/*
ConvergenceTests/vmec2gs2
ConvergenceTests/__pycache__
CriticalGradient/__pycache__
ConvergenceTests/Figures/*
CriticalGradient/vmec2gs2
CriticalGradient/*.pdf
CriticalGradient/Figures*
vmec2gs2
gxgrids/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
